APP_NAME=jira-automation-service
ENV=local
BASE_URL=http://127.0.0.1:8000

ATLASSIAN_CLIENT_ID=your_client_id
ATLASSIAN_CLIENT_SECRET=your_client_secret
ATLASSIAN_REDIRECT_URI=http://127.0.0.1:8000/auth/auth/callback

# scopes needed to read users + create issues
ATLASSIAN_SCOPES=read:jira-user read:jira-work write:jira-work offline_access
